html, body{
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

main {
  padding: 10px;
  font-size: 1.1em;

  .row.main {
    margin-bottom: 128px;
  }

  a {
    width: 100%;
    font-size: 1.3em;
    text-decoration: none;
    color: #31708f;
    i {
      font-size: .8em;
    }
  }

  h2, h6, p, content, content-for {
    color: grey;
  }

  h6 {
    font-size: 1.5em;
  }

  header {
    font-weight: 700;
    color: darkslategray;
  }

  .large-text {
    font-size: 2em;
  }

}

@import './toastr';